In [121]:

# Import usual libraries
import numpy as np
import matplotlib.pyplot as plt
import itertools


import pandas as pd
import numpy as np
import pandas as pd
import seaborn as sns
import numpy as np

# 1 - DATA MANIPULATION
import pandas as pd
import numpy as np

# 2 - DATA VISUALISATION
import matplotlib.pyplot as plt
import seaborn as sns



# 4 - MACHINE LEARNING
## 4.1 - Preprocessing

### 4.1.1 - Scalers
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

### 4.1.2 - Encoders
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

### 4.1.3 - Crossvalidation, Training, Model
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor

### 4.1.4 - Evaluation
from sklearn.metrics import confusion_matrix
from sklearn.metrics  import ConfusionMatrixDisplay

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from math import sqrt

# Make all figures tiny for readability purpose
from matplotlib import rcParams
rcParams['figure.figsize'] = (5,3)
import fredpy as fp
fp.api_key = '9d67cbd8bb040b937e856dcfb9c39856'

In [ ]:


GNOW = fp.series('GDPNOW')


# # Download CPI and GDP deflator data
# AHE = fp.series('CES0500000003').apc()
# deflator = fp.series('GDPDEF')

# # cpi_pi = cpi_Q.apc()
# # def_pi = deflator.apc()

GNOW.data

In [122]:
Fred_ticker = ['ADPWNUSNERSA', 'MORTGAGE30US', 'WEI','CCLACBW027SBOG','WTISPLC','EXPINF1YR','STLPPM','ECIWAG','M2REAL','UNRATE','PPIACO','PCUOMFGOMFG','PCUATRANSATRANS','PCUATRADEATRADE','PCUAWHLTRAWHLTR','CSUSHPINSA','SPCS20RSA',
'WALCL', 'SP500','MEHOINUSA672N','T5YIFR','FYFSD','REAINTRATREARAT10Y','SAHMREALTIME','POPTHM']

In [123]:

# Create an empty DataFrame with the specified date range
start_date = '2014-05-01'
end_date = '2024-01-19'
date_range = pd.date_range(start=start_date, end=end_date, freq='B')
df = pd.DataFrame(index=date_range)

# Loop through each ticker, fetch the data, and join to the DataFrame
for ticker in Fred_ticker:
    series_data = fp.series(ticker)
    series_data.data = series_data.data.asfreq('B')  # Ensure business day frequency
    df = df.join(series_data.data, how='left', rsuffix=f'_{ticker}')

In [ ]:

# # Fill NaN values by interpolation
# df_interp = df.interpolate(method='time')
# # Export to CSV
# #df_interp.to_csv('FRED_data_interp.csv')
# df_interp

In [ ]:
# df_interp['CPIAUCSL'] = df_interp['value']
# df_interp.drop(columns="value")

In [124]:
total_df = pd.read_csv('gdpnow_daily_gdp_interp.csv', index_col='Unnamed: 0', parse_dates=True)


total_df.index = pd.to_datetime(total_df.index)

# Merge 'df' with 'total_df' on the date index
merged_df = df.merge(total_df, left_index=True, right_index=True, how='inner')

# Filter by date range, e.g., starting from '1990-01-31'
filtered_df = merged_df.loc['2014-05-01':]
filtered_df

,value,value_MORTGAGE30US,value_WEI,value_CCLACBW027SBOG,value_WTISPLC,value_EXPINF1YR,value_STLPPM,value_ECIWAG,value_M2REAL,value_UNRATE,...,PCE Goods,PCE Services,Previous change in private inventories ($Bil 2009),Publication Date of Advance Estimate,Quarter being forecasted,Residential,S&L,Services exports,Services imports,Structures
2014-05-01,NaN,4.29,NaN,NaN,102.18,1.76839,0.227347,NaN,4778.4,6.3,...,5.8,3.9,70.0,30/07/2014,30/06/2014,4.6,1.4,2.5,4.0,1.8
2014-05-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.8,3.9,58.0,30/07/2014,30/06/2014,4.6,1.3,2.5,4.0,1.8
2014-05-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.4,3.9,58.0,30/07/2014,30/06/2014,4.5,1.3,2.7,3.3,1.8
2014-05-07,NaN,NaN,NaN,608.7653,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-17,NaN,NaN,NaN,1035.5004,NaN,NaN,NaN,NaN,NaN,NaN,...,3.6,2.4,77.8,25/01/2024,31/12/2023,0.2,3.6,5.6,5.7,2.0
2024-01-18,NaN,6.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.6,2.4,77.8,25/01/2024,31/12/2023,-0.4,3.6,5.6,5.7,2.0
2024-01-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.6,2.4,77.8,25/01/2024,31/12/2023,-0.6,3.6,5.6,5.7,2.0

In [ ]:
filtered_df.drop(columns="value")

In [125]:
# Export the filtered DataFrame to CSV
filtered_df.to_csv('gdpnow_latest.csv')

In [ ]:

NFP = fp.series('PAYEMS')

In [ ]:
NFP.data

In [ ]:
import pandas as pd

# Assuming 'cpi' is your fredpy.series object for CPI data
# And assuming 'cpi.data' and 'cpi.dates' give you the CPI values and corresponding dates, respectively

# Step 1: Create a DataFrame with CPI data
cpi_df = pd.DataFrame({'CPI': cpi_pi.data.values}, index=cpi_pi.data.index)

# The 'index=cpi.dates' part sets the DataFrame's index to the dates right upon creation.

# Note: Adjust attribute names ('data' and 'dates') as per the actual structure of your fredpy.series object

# Display the first few rows to verify
print(cpi_df.tail())

In [ ]:
total_df['inflation']

In [ ]:
us_cpi_df.index = us_cpi_df.index.to_period('M')

In [ ]:
us_cpi_df = us_cpi_df.dropna()

In [ ]:
us_cpi_df

In [ ]:
# Save DataFrame to CSV
us_cpi_df.to_csv('data/us_cpi.csv', index=True)

In [ ]:
fp.series(UNRATE)

In [ ]:

import pandas as pd


# Fetch the data
series_id = 'CES0500000003'
data = fp.series(series_id)

# Calculate MoM percentage change
mom_change = data.pct_change() * 100  # Convert to percentage

# Display the last few rows to see recent MoM changes
print(mom_change.tail())

In [ ]:
# Download CPI and GDP deflator data
AHE = fp.series('CES0500000003')

ahe_data = pd.Series(AHE.data)


ahe_data.tail(20)

In [ ]:
fig = plt.figure(figsize=(6,4))
ax = fig.add_subplot(1,1,1)
ax.plot(AHE.data,'-',lw=3,alpha = 0.65,label='cpi')
ax.legend(loc='upper right')
ax.set_title('US inflation')
ax.set_ylabel('Percent')
ax.grid()

In [126]:
gdpnow = pd.read_csv('gdpnow_latest.csv', index_col='Unnamed: 0', parse_dates=True) #date_parser=dateparse)
# Ensure that load_df index is in the same date format
gdpnow.index = pd.to_datetime(gdpnow.index)

In [127]:
gdpnow

,value,value_MORTGAGE30US,value_WEI,value_CCLACBW027SBOG,value_WTISPLC,value_EXPINF1YR,value_STLPPM,value_ECIWAG,value_M2REAL,value_UNRATE,...,PCE Goods,PCE Services,Previous change in private inventories ($Bil 2009),Publication Date of Advance Estimate,Quarter being forecasted,Residential,S&L,Services exports,Services imports,Structures
2014-05-01,NaN,4.29,NaN,NaN,102.18,1.76839,0.227347,NaN,4778.4,6.3,...,5.8,3.9,70.0,30/07/2014,30/06/2014,4.6,1.4,2.5,4.0,1.8
2014-05-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.8,3.9,58.0,30/07/2014,30/06/2014,4.6,1.3,2.5,4.0,1.8
2014-05-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.4,3.9,58.0,30/07/2014,30/06/2014,4.5,1.3,2.7,3.3,1.8
2014-05-07,NaN,NaN,NaN,608.7653,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-17,NaN,NaN,NaN,1035.5004,NaN,NaN,NaN,NaN,NaN,NaN,...,3.6,2.4,77.8,25/01/2024,31/12/2023,0.2,3.6,5.6,5.7,2.0
2024-01-18,NaN,6.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.6,2.4,77.8,25/01/2024,31/12/2023,-0.4,3.6,5.6,5.7,2.0
2024-01-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.6,2.4,77.8,25/01/2024,31/12/2023,-0.6,3.6,5.6,5.7,2.0

In [130]:
bbg = pd.read_csv('data/FC_CESI.csv',index_col='Dates', parse_dates=True)

In [131]:
bbg

            GSUSFCI Index  CESIUSD Index
Dates
2014-05-01          99.01          -28.7
2014-05-02          99.00          -18.9
2014-05-05          99.01          -12.6
2014-05-06          99.02          -12.0
2014-05-07          99.00          -11.2
...                   ...            ...
2024-01-15          99.34            5.4
2024-01-16          99.47           -2.4
2024-01-17          99.51            1.4
2024-01-18          99.48            4.9
2024-01-19          99.40           13.5

[2537 rows x 2 columns]

In [133]:
gdpnow_hf = bbg.merge(gdpnow, left_index=True, right_index=True, how='inner')
gdpnow_hf = gdpnow_hf.loc['2014-05-01':]

In [135]:
gdpnow_hf.to_csv('gdpnow_hf.csv')

In [106]:
test_data = track.drop(columns=['Unnamed: 4', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30'])

# test_data = test_data.sort_values('Release Date')

# Ensure 'Release Date' is in the correct datetime format
test_data['Release Date'] = pd.to_datetime(test_data['Release Date'], format='%d/%m/%Y')

# Filter 'test_data' to include only rows where 'Release Date' is between 2014-05-01 and 2024-01-19
test_data = test_data[(test_data['Release Date'] > '2014-05-01') & (test_data['Release Date'] < '2024-01-19')]

In [108]:

test_data_sorted = test_data.sort_values('Release Date')

In [109]:
test_data_sorted

,Quarter being forecasted,Model Forecast Right Before BEA's Advance Estimate,BEA's Advance Estimate,Release Date,Error,Absolute Error,Squared Error
38,Jun-14,2.67,3.95,2014-07-30,1.3,1.3,1.6
37,Sep-14,2.70,3.55,2014-10-30,0.8,0.8,0.7
36,Dec-14,3.49,2.64,2015-01-30,-0.9,0.9,0.7
35,Mar-15,0.10,0.25,2015-04-29,0.1,0.1,0.0
34,Jun-15,2.43,2.32,2015-07-30,-0.1,0.1,0.0
33,Sep-15,1.06,1.49,2015-10-29,0.4,0.4,0.2
32,Dec-15,1.02,0.69,2016-01-29,-0.3,0.3,0.1
31,Mar-16,0.62,0.54,2016-04-28,-0.1,0.1,0.0
30,Jun-16,1.83,1.22,2016-07-28,-0.6,0.6,0.4
29,Sep-16,2.10,2.90,2016-10-28,0.8,0.8,0.6
28,Dec-16,2.88,1.87,2017-01-27,-1.0,1.0,1.0
27,Mar-17,0.17,0.69,2017-04-28,0.5,0.5,0.3
26,Jun-17,2.82,2.57,2017-07-28,-0.3,0.3,0.1
25,Sep-17,2.52,2.99,2017-10-27,0.5,0.5,0.2
24,Dec-17,3.41,2.56,2018-01-26,-0.9,0.9,0.7
23,Mar-18,1.98,2.32,2018-04-27,0.3,0.3,0.1
22,Jun-18,3.82,4.06,2018-07-27,0.2,0.2,0.1
21,Sep-18,3.55,3.50,2018-10-26,-0.1,0.1,0.0
20,Dec-18,1.85,2.59,2019-02-28,0.7,0.7,0.6
19,Mar-19,2.67,3.17,2019-04-26,0.5,0.5,0.3
18,Jun-19,1.33,2.06,2019-07-26,0.7,0.7,0.5
17,Sep-19,1.68,1.92,2019-10-30,0.2,0.2,0.1
16,Dec-19,1.74,2.08,2020-01-30,0.3,0.3,0.1
15,Mar-20,-0.97,-4.78,2020-04-29,-3.8,3.8,14.5
14,Jun-20,-32.08,-32.90,2020-07-30,-0.8,0.8,0.7
13,Sep-20,36.97,33.08,2020-10-30,-3.9,3.9,15.1
12,Dec-20,7.16,4.01,2021-01-28,-3.1,3.1,9.9
11,Mar-21,7.87,6.39,2021-04-29,-1.5,1.5,2.2
10,Jun-21,6.43,6.50,2021-07-29,0.1,0.1,0.0
9,Sep-21,0.19,2.02,2021-10-28,1.8,1.8,3.3
8,Dec-21,6.50,6.89,2022-01-27,0.4,0.4,0.2
7,Mar-22,0.37,-1.41,2022-04-28,-1.8,1.8,3.2
6,Jun-22,-1.20,-0.93,2022-07-28,0.3,0.3,0.1
5,Sep-22,3.09,2.57,2022-10-27,-0.5,0.5,0.3
4,Dec-22,3.53,2.89,2023-01-26,-0.6,0.6,0.4
3,Mar-23,1.13,1.06,2023-04-27,-0.1,0.1,0.0
2,Jun-23,2.41,2.41,2023-07-27,0.0,0.0,0.0
1,Sep-23,5.41,4.88,2023-10-26,-0.5,0.5,0.3

In [110]:
# Creating the interim DataFrame with specific dates and values
specific_dates_df = pd.DataFrame({
    'Release Date': pd.to_datetime(['2014-05-01', '2024-01-19']),
    'Final_GDP_Interp': [0.11, 3.3]
}).set_index('Release Date')

# Ensure gdpnow index is datetime
gdpnow.index = pd.to_datetime(gdpnow.index)

# Merge the specific values from specific_dates_df into gdpnow
gdpnow = gdpnow.combine_first(specific_dates_df)

gdpnow = gdpnow.sort_index()

In [ ]:
test_data

In [111]:
# This was correctly done
test_data['Release Date'] = pd.to_datetime(test_data['Release Date'], format='%d/%m/%Y')

# Proceed with the update
for index, row in test_data.iterrows():
    # Use .at for precise label-based indexing
    if row['Release Date'] in gdpnow.index:
        gdpnow.at[row['Release Date'], 'Final_GDP_Interp'] = row["BEA's Advance Estimate"]

In [115]:
gdpnow['Final_GDP_Interp']

2014-05-01    0.110000
2014-05-02    0.152667
2014-05-05    0.280667
2014-05-06    0.323333
2014-05-07    0.366000
                ...
2024-01-15    3.374353
2024-01-16    3.355765
2024-01-17    3.337176
2024-01-18    3.318588
2024-01-19    3.300000
Name: Final_GDP_Interp, Length: 2537, dtype: float64

In [114]:
gdpnow['Final_GDP_Interp'] = gdpnow['Final_GDP_Interp'].interpolate(method='time')

In [ ]:
import pandas as pd
import numpy as np

# Example setup for demonstration
# Assuming gdpnow and test_data DataFrames are defined, like:
# gdpnow = pd.DataFrame({
#     'Date': pd.date_range(start='2014-01-01', end='2024-12-31', freq='M'),
#     'SomeData': np.random.rand(131)  # Just an example column
# }).set_index('Date')

# test_data = pd.DataFrame({
#     'Release Date': pd.to_datetime(['2024-01-19', '2023-10-26', '2023-07-27']),
#     "BEA's Advance Estimate": [1.1, 2.2, 3.3]
# })

# Step 1: Create a new column 'Final_GDP_Interp' in gdpnow as blank
gdpnow['Final_GDP_Interp'] = np.nan



# Step 2: Set specific value for a given date
gdpnow.loc['2014-05-01', 'Final_GDP_Interp'] = 0.11
gdpnow.loc['2014-01-19', 'Final_GDP_Interp'] = 3.3

# Step 3: Populate 'Final_GDP_Interp' with 'BEA's Advance Estimate' from test_data based on matching 'Release Date'
# First, ensure the 'Release Date' in test_data is in datetime format (if not already)
test_data['Release Date'] = pd.to_datetime(test_data['Release Date'])

# Then, iterate through test_data to update 'Final_GDP_Interp' in gdpnow
for index, row in test_data.iterrows():
    if row['Release Date'] in gdpnow.index:
        gdpnow.loc[row['Release Date'], 'Final_GDP_Interp'] = row["BEA's Advance Estimate"]

# Step 4: Interpolate missing values in 'Final_GDP_Interp' on a time basis
gdpnow['Final_GDP_Interp'] = gdpnow['Final_GDP_Interp'].interpolate(method='time')

# Displaying the updated 'Final_GDP_Interp' column for verification
print(gdpnow['Final_GDP_Interp'])

In [116]:

# # Fill NaN values by interpolation
# df_interp = df.interpolate(method='time')
# # Export to CSV
gdpnow.to_csv('gdpnow_daily_gdp_interp.csv')
# df_interp

In [ ]:
# # Split the DataFrame into test set based on the specified dates and the rest as training set
# test_dates = ['2024-01-19', '2023-10-26', '2023-07-27', '2023-04-27',
#                '2023-01-26', '2022-10-27', '2022-07-28', '2022-04-28',
#                '2022-01-27', '2021-10-28', '2021-07-29', '2021-04-29',
#                '2021-01-28', '2020-10-30', '2020-07-30', '2020-04-29',
#                '2020-01-30', '2019-10-30', '2019-07-26', '2019-04-26',
#                '2019-02-28', '2018-10-26', '2018-07-27', '2018-04-27',
#                '2018-01-26', '2017-10-27', '2017-07-28', '2017-04-28',
#                '2017-01-27', '2016-10-28', '2016-07-28', '2016-04-28',
#                '2016-01-29', '2015-10-29', '2015-07-30', '2015-04-29',
#                '2015-01-30', '2014-10-30', '2014-07-30']

In [ ]:
gdpnow

In [113]:
view_dates = ['2024-01-19', '2023-10-26', '2023-07-27', '2023-04-27',
               '2023-01-26', '2022-10-27', '2022-07-28', '2022-04-28',
               '2022-01-27', '2021-10-28', '2021-07-29', '2021-04-29',
               '2021-01-28', '2020-10-30', '2020-07-30', '2020-04-29',
               '2020-01-30', '2019-10-30', '2019-07-26', '2019-04-26',
               '2019-02-28', '2018-10-26', '2018-07-27', '2018-04-27',
               '2018-01-26', '2017-10-27', '2017-07-28', '2017-04-28',
               '2017-01-27', '2016-10-28', '2016-07-28', '2016-04-28',
               '2016-01-29', '2015-10-29', '2015-07-30', '2015-04-29',
               '2015-01-30', '2014-10-30', '2014-07-30','2014-05-01']
# Convert test_dates to datetime format
view_dates = pd.to_datetime(view_dates)

# Filter the DataFrame to show only rows where the index matches test_dates and display 'Final_GDP_Interp'
filtered_values = gdpnow.loc[gdpnow.index.isin(view_dates), 'Final_GDP_Interp']

filtered_values

2014-05-01     0.11
2014-07-30     3.95
2014-10-30     3.55
2015-01-30     2.64
2015-04-29     0.25
2015-07-30     2.32
2015-10-29     1.49
2016-01-29     0.69
2016-04-28     0.54
2016-07-28     1.22
2016-10-28     2.90
2017-01-27     1.87
2017-04-28     0.69
2017-07-28     2.57
2017-10-27     2.99
2018-01-26     2.56
2018-04-27     2.32
2018-07-27     4.06
2018-10-26     3.50
2019-02-28     2.59
2019-04-26     3.17
2019-07-26     2.06
2019-10-30     1.92
2020-01-30     2.08
2020-04-29    -4.78
2020-07-30   -32.90
2020-10-30    33.08
2021-01-28     4.01
2021-04-29     6.39
2021-07-29     6.50
2021-10-28     2.02
2022-01-27     6.89
2022-04-28    -1.41
2022-07-28    -0.93
2022-10-27     2.57
2023-01-26     2.89
2023-04-27     1.06
2023-07-27     2.41
2023-10-26     4.88
2024-01-19     3.30
Name: Final_GDP_Interp, dtype: float64

In [ ]:
# joining the dataframe